DOCKER_IMAGE_BACKEND=app_fastapi
SECRET_KEY=123qweasd
DEBUG=True
STACK_NAME=test

# Postgres
POSTGRES_SCHEME=postgres
POSTGRES_HOST=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123qweasd
POSTGRES_DB=app_db